@{
    ViewBag.Title = "Home";
}
<!--HomeController IndexView-->

<div class="container">
    <div class="row">
        <div>
            <div>
                <h1 class="Zentrierung marginBTN">Home</h1>
            </div>
        </div>
        <div>
            <div class="col-xs-12 Zentrierung marginBTN">
                <a href="@Url.Action("IndexKunden", "Kunden")">
                    <input type="button" class="btn btn-primary btn-lg zentrierungButton" value="Kunden" />
                </a>
            </div>
        </div>
        <div>
            <div class="col-xs-12 Zentrierung marginBTN">
                <a href="@Url.Action("IndexWaren", "Waren")">
                    <input type="button" class="btn btn-primary btn-lg zentrierungButton" value="Waren" />
                </a>
            </div>
        </div>
        <div>
            <div class="col-xs-12 Zentrierung marginBTN">
                <a href="@Url.Action("IndexStatistik", "Statistik")">
                    <input type="button" class="btn btn-primary btn-lg zentrierungButton" value="Statistik" />
                </a>
            </div>
        </div>
    </div>
</div>