<style>
    ButtonLong{
        color:blue;
        width:auto;
        height:50px;
    }




</style>


@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

<div class="container">
    <div class="row">
        <div class="col-xs-12" style="margin:20px;ButtonLong">
            <a href="@Url.Action("Index", "Kunden")">
                <input type="button" class="btn btn-primary btn-lg" value="Kunden" />
            </a>
        </div>
        <div class="col-xs-12" style="margin:20px">
            <a href="@Url.Action("Index", "Waren")">
                <input type="button" class="btn btn-primary btn-lg" value="Waren" />
            </a>
        </div>
        <div class="col-xs-12" style="margin:20px">
            <a href="@Url.Action("Index", "Statistik")">
                <input type="button" class="btn btn-primary btn-lg" value="Statistik" />
            </a>
        </div>
    </div>
</div>