@model Web_APP.Models.stamm
@{
    ViewBag.Title = "Index";
}


<h2>Index</h2>
@*@{
    var zähler = 0;*@



@*@foreach (var item in Model.id)
{





}
    zähler = 0;
}*@
@Html.DisplayFor(modelItem => Model.vorname)
@Html.DisplayFor(modelItem => Model.id)