@*@model postgres.Model.LoginModel*@
    @* Hier gehört die Datenbank + Model + genaues Model eingefügt *@
@{
    ViewBag.Title = "Home Page";
}
@*<style>
    .zentrierung{
        margin:auto;
        width:60%;
    }
    .zentrierungButton{
        margin:auto;
        width:68%;
    }
</style>*@

<!--LoginController LoginView --> 

<div class="container">
    <div class="row">
        <div class="">
            <div class="col-sm-12 col-xs-12 Zentrierung">
                <!--Logo-->
                <div class="">
                    <img src="~/fonts/AuftrLogo.bmp" alt="IOMLogo">
                </div>
            </div>
            <form>
                <div class="col-sm-12 col-xs-12 Zentrierung">
                    <!--Benutzername-->
                    <div class="form-group ">
                        <label for="usr">Benutzername:</label>
                        <input type="text" class="form-control" id="Benutzername">
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12 Zentrierung">
                    <!--Passwort-->
                    <div class="form-group ">
                        <label for="pwd">Passwort:</label>
                        <input type="password" class="form-control " id="passwort">
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12 zentrierungButton">
                    <!--Button Login-->
                    <div class="">
                        <a href="@Url.Action("IndexHome", "Home")">
                            <input type="button" class="btn btn-primary btn-lg zentrierungButton" value="Login" />
                        </a>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>