
@{
    ViewBag.Title = "Kunden";
}

<h2>Kunden</h2>

<!--großer Container ANFANG-->
<div class="container">
    <div class="row">

        <!--Erste Auswählbox ANFANG-->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
                        <button type="button" class="btn btn-primary btn-block" data-toggle="collapse" data-target="#KA1">Test Kunde 1</button>
                        


                            <!--Zweite Auswählbox ANFANG-->
                         
                            <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
                                <button type="button" class="btn btn-primary btn-block" data-toggle="collapse" data-target="#KÜ1">Kunden Übersicht</button>
                                <div id="KÜ1" class="collapse">

                                    <!--Dritte Auswählbox ANFANG-->
                                    @*<div class="container">
                                    <div class="row">*@
                                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                        <button type="button" class="btn btn-primary btn-block" data-toggle="collapse" data-target="#AÜ1">Auftrags Übersicht</button>
                                        
                                    </div>
                                    @*</div>
                                    </div>*@
                                    <!--Dritte Auswählbox ENDE-->

                                </div>
                            </div>
                          
                            <!--Zweite Auswählbox ENDE-->



                        <div id="KA1" class="collapse col-xs-12 col-sm-8 col-md-5 col-lg-5"></div>
                        <div id="AÜ1" class="collapse col-xs-12 col-sm-8 col-md-5 col-lg-5">Test 1</div>

                        </div>
                    </div>

                

                </div>
                </div>
            </div>
            </div>
<!--großer Container ENDE-->